<form method="post">
    <label>Enter first number</label>
    <input type="text" name="t1" />

    <br />
    <label>Enter second number</label>
    <input type="text" name="t2" />


    <input type="submit"  value="Add number" formaction="testing" formmethod="post"/>

     <input type="submit"  value="multiple" formaction="multiply" formmethod="post" />

</form>
@ViewData["r"]